<!DOCTYPE html>

<html lang="en">

<head>
    <title>Smug dance as a Service (SaaS)</title>

    {{{include_css}}}

    <meta property="og:title" content="Smug dance as a Service">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://{{root}}">
    <meta property="og:description" content="Generate a GIF of Hat Kid dancing at any tempo!">
</head>

<body data-state="idle">
    <main class="application">
        <p id="instructions">Enter a tempo and press the button to generate a GIF of Hat Kid dancing!</p>

        <div id="input-form">
            <div id="tempo-selection">
                <span class="input-pill" id="bpm-input-pill">
                    <input id="bpm" name="bpm" type="text" min="{{minimum_bpm}}" max="18000" value="128" step="any">
                    <label for="bpm" id="bpm-drag">bpm</label>
                </span>

                <span class="input-form-separator">or</span>

                <span class="input-pill" id="tap-tempo-input-pill">
                    <button id="tap-tempo">tap</button>
                    <span class="tap"></span>
                    <span class="tap"></span>
                    <span class="tap"></span>
                    <span class="tap"></span>
                </span>
            </div>
            <button id="pretty-please">pretty please</button>
        </div>

        <div id="results-box">
            <div id="please-wait">
                Generating the GIF…<br>
                <span class="progress-bar" id="progress" role="progressbar" data-progress="indeterminate"></span>
            </div>

            <div id="error">
                <b>We're sorry! An error occured.</b>
                <div id="error-text"></div>
            </div>

            <div id="final-result">
                <p>Here's your image:</p>
                <div>
                    <img id="dance">
                </div>
                <p><a id="permalink">Direct link</a></p>
                <p>Have a cool day!</p>
            </div>
        </div>
    </main>

    <footer>
        <a href="//{{root}}/man">docs, details, and credits</a>
    </footer>

    {{{include_js}}}
</body>

</html>
